aiobotocore==2.23.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aioitertools==0.12.0
aiosignal==1.4.0
PyYAML==6.0.1
SQLAlchemy-Utils==0.41.2
SQLAlchemy==2.0.32
dateparser==1.2.0
numpy==1.26.4
openpyxl == 3.1.2
packaging == 23.2
pandas==2.2.1
paramiko<3.0.0  # To retain DSSKey support (used by GAC)
psycopg2-binary==2.9.9
pysftp >= 0.2.9
requests==2.31.0
sqlalchemy-migrate==0.11.0
sqlparse==0.5.1
xlrd >= 2.0.1
xlsxwriter ~= 3.2.2
pycountry==24.6.1
babel==2.17.0
unidecode==1.4.0
pytz==2025.2
charset-normalizer==3.4.2
idna==3.10
dateutils==0.6.12
typing_extensions==4.14.1
certifi==2025.6.15
regex==2024.11.6
tzlocal==5.3.1
urllib3==2.6.0
jmespath==1.0.1
multidict==6.6.3
attrs==25.3.0
yarl==1.20.1
propcache==0.3.2
frozenlist==1.7.0
wrapt==1.17.2
google-api-python-client==2.184.0
google-auth==2.41.1
google-auth-oauthlib==1.2.2
duckdb==1.4.2
